header 
  height: 300px
  padding: 20px
  background: #F8FFE8
  background: linear-gradient(to bottom, #FFFAE6 0%, #A1DD70 100%)
  display: flex
  flex-direction: column
  justify-content: space-between
  color: #141E46

  >div
    width: 100%
    max-width: 1250px
    padding: 20px
    margin: auto
    justify-content: space-between
    align-items: center

  h2
    width: 60%
    text-transform: uppercase
    font-size: 36px
    

  .topNav
    display: flex
    justify-content: space-between
    align-items: center

    .topNav-brand
      display: flex
      align-items: center
      gap: 1rem

    ul
      display: flex
      list-style-type: none
      gap: 30px

      li
        font-size: 18px
        font-weight: bold


footer
  background-color: #333
  text-align: center
  padding: 20px
  color: #fff    

main
  width: 100%
  max-width: 1250px
  padding: 80px 30px
  margin: auto
  min-height: 550px

  .home_body
    display: flex
    flex-direction: column
    gap: 50px

    .card
      display: flex
      width: 100%
      gap: 30px
      justify-content: center
      align-items: center
      border: 2px solid #141E46
      border-radius: 10px
      box-shadow: 1px 2px 4px #F8F4E1
      margin: auto
      box-shadow: 3px 3px 3px 1px rgba(187, 187, 187, 1)

      &:nth-child(even)
        direction: rtl
        text-align: left

      .image
        width: 40%
      
      .content
        width: 50%

  .about_us_list
    list-style-type: none
    padding-left: 3rem
    display: flex
    flex-direction: column
  
  .events_page
    display: flex
    gap: 20px

    .card
      width: 100%
      text-align: center
      border: 2px solid #141E46
      border-radius: 10px
      box-shadow: 1px 2px 4px #F8F4E1
      margin: auto
      box-shadow: 3px 3px 3px 1px rgba(187, 187, 187, 1)
      position: relative

      h2
        position: absolute
        top: 50%
        color: white
        text-align: center
        font-size: 36px
        text-transform: uppercase
        width: 100%
        text-shadow: 1px 1px 5px #000
      
      img
        width: 100%

  h1, h2, h3
    margin: 1.75rem 0